@import "tailwindcss";


body{
  padding: auto ;
  @apply bg-cover bg-center  bg-fixed bg-no-repeat;
  background-image: url("/exam-time.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

html,body{
  height: 100%;
  margin: 0;
  width: auto;
}
/* Carousel container */
.carousel {
  position: relative;
  width: fill;
  height: 300; /* Adjust height */
  overflow: hidden;
}

/* Each slide */
.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-slide.active {
  opacity: 1;
}

/* Caption */
.carousel-caption {
  position: absolute;
  bottom: 2px;
  left: 2px;
  background: rgba(0,0,0,0.5);
  color: rgb(255, 255, 255);
  padding: 10px 5px;
  border-radius: 6px;
  font-weight: bold;
}

.year-selector input[type="radio"] {
  display: none; /* hide the dots */
}

.year-selector label span {
  display: inline-block;
  padding: 0.55rem 1.5rem;
  border-radius: 5px;
  background-color: #e5e7eb; /* gray */
  color: #111;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  
}

.year-selector input[type="radio"]:checked + span {
  background-color: #ef4444; /* red */
  color: white;
}

















