@import "tailwindcss";
@import "tailwindcss/typography";
@import "tailwindcss/forms";
@import "tailwindcss/line-clamp";

footer {
  font-family: 'Times New Roman', Times, serif;
  color: aqua;
  background-color: black;
  padding: 20px;
}













